

{{#each model. as |author|}}
  
<div class="author-detail">

<div class="form-signin">

    <h2>{{#link-to 'authors.author' author.id}}{{author.name}}{{/link-to}}</h2>
    
    <!--p>
        <strong>Fecha de Nacimiento:</strong> {{author.dateOfBirth}}</p>
    <p>
        <strong>Fecha de Muerte:</strong> {{author.dateOfDeath}}</p>
    <p>
        <strong>Libros:</strong>
        <ul>
            {{#each author.books as |books|}}
            <li>{{books.title}}</li>
            {{/each}}
        </ul>
        <h3>La cantidad total de libros que ha escrito es :
            <strong>{{author.books.length}}</strong>
        </h3>
    </p-->

</div>

</div>
{{/each}} 



{{outlet}}